.b1{
    background-color: hsl(30, 54%, 90%);
    width: 950px;
    height: 1500px;
    z-index: -1;
    position: absolute;
    top: 50px;
    left: 90px;
      box-shadow: 3px 2px rgba(0, 0, 0, 0.055);
}

.d1 #img1{
    width: 350px;
    border-radius: 10px;
    position: absolute;
    top:15px;
    left: 25px;
}
.d1{
    background-color: white;
    width: 400px;
    height: 1300px;
    font-size: 16px;
    z-index: 10;
    border-radius: 11px;
    position: absolute;
    top: 106px;
    left: 360px;
    
}
.d1 ul{
    font-size: 13px;
    position: absolute;
    top: 500px;
}
.d1 ol{
    font-size: 13px;
    position: absolute;
    left: 10px;
        

}
.d1 #p1{
    position: absolute;
    top: 165px;
    left: 20px;
    font-size: 20px;
}
.d1 #p2{
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 10px;
}
.d1 #p3{
    position: absolute;
    top: 245px;
    left: 30px;
    color:hsl(332, 51%, 32%) ;
}
.d1 #p4{
    position: absolute;
    top: 340px;
    left: 34px;
    color:  hsl(14, 45%, 36%);
}
.d1 #p5{
    position: absolute;
    top: 490px;
    left: 34px;
    color:  hsl(14, 45%, 36%);
}
.d1 #p6{
    position: absolute;
    top: 855px;
    left: 35px;
    color:  hsl(14, 45%, 36%);
}
.d1 #p7{
    position: absolute;
    top: 898px;
    font-size: 13px;
    left: 30px;
}
.d1 #u11{
    position: absolute;
    top:273px;
    left: 12px;

}
.d1 #u2{
    position: absolute;
    top:380px;
    left: 12px;
    

}
.d1 #ol1{
    position: absolute;
    top:546px;
}
.d1 #p8{
    position: absolute;
    top: 980px;
    left: 40px;
    font-size: 15px;
}

.d1 #p81{
    position: absolute;
    top: 980px;
    left: 240px;
    font-size: 15px;
}

.d1 #p9{
    position: absolute;
    top: 1050px ;
    left: 40px;
    font-size: 15px;
}

.d1 #p91{
    position: absolute;
    top: 1050px;
    left: 240px;
    font-size: 15px;
}

.d1 #p99{
    position: absolute;
    top: 1120px;
    left: 40px;
    font-size: 15px;
}

.d1 #p92{
    position: absolute;
    top: 1120px;
    left: 240px;
    font-size: 15px;
}

.d1 #p19{
    position: absolute;
    top: 1190px;
    left: 240px;
    font-size: 15px;
}
.d1 #p29{
    position: absolute;
    top: 1190px;
    left: 40px;
    font-size: 15px;
}

.img33{
    position: absolute;
    top: 1px;
    left: 600px;
    z-index: -3;
    width: 880px;
    box-shadow: 3px 2px rgba(0, 0, 0, 0.055);
}


@media all and (min-width:300px) and (max-width:480px) {
    


body.b1{
    background-color: hsl(31, 26%, 36%);
    width: 0px;
    height: 0px;
    z-index: -1;
    position: absolute;
    top: 50px;
    left: 90px;
      box-shadow: 3px 2px rgba(0, 0, 0, 0.055);
}

.d1 #img1{
    width: 350px;
    border-radius: 10px;
    position: absolute;
    top:15px;
    left: 25px;
}
.d1{
    background-color: white;
    width: 400px;
    height: 1300px;
    font-size: 16px;
    z-index: 10;
    border-radius: 11px;
    position: absolute;
    top: 106px;
    left: 360px;
    
}
.d1 ul{
    font-size: 13px;
    position: absolute;
    top: 500px;
}
.d1 ol{
    font-size: 13px;
    position: absolute;
    left: 10px;
        

}
.d1 #p1{
    position: absolute;
    top: 165px;
    left: 20px;
    font-size: 20px;
}
.d1 #p2{
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 10px;
}
.d1 #p3{
    position: absolute;
    top: 245px;
    left: 30px;
    color:hsl(332, 51%, 32%) ;
}
.d1 #p4{
    position: absolute;
    top: 340px;
    left: 34px;
    color:  hsl(14, 45%, 36%);
}
.d1 #p5{
    position: absolute;
    top: 490px;
    left: 34px;
    color:  hsl(14, 45%, 36%);
}
.d1 #p6{
    position: absolute;
    top: 855px;
    left: 35px;
    color:  hsl(14, 45%, 36%);
}
.d1 #p7{
    position: absolute;
    top: 898px;
    font-size: 13px;
    left: 30px;
}
.d1 #u11{
    position: absolute;
    top:273px;
    left: 12px;

}
.d1 #u2{
    position: absolute;
    top:380px;
    left: 12px;
    

}
.d1 #ol1{
    position: absolute;
    top:546px;
}
.d1 #p8{
    position: absolute;
    top: 980px;
    left: 40px;
    font-size: 15px;
}

.d1 #p81{
    position: absolute;
    top: 980px;
    left: 240px;
    font-size: 15px;
}

.d1 #p9{
    position: absolute;
    top: 1050px ;
    left: 40px;
    font-size: 15px;
}

.d1 #p91{
    position: absolute;
    top: 1050px;
    left: 240px;
    font-size: 15px;
}

.d1 #p99{
    position: absolute;
    top: 1120px;
    left: 40px;
    font-size: 15px;
}

.d1 #p92{
    position: absolute;
    top: 1120px;
    left: 240px;
    font-size: 15px;
}

.d1 #p19{
    position: absolute;
    top: 1190px;
    left: 240px;
    font-size: 15px;
}
.d1 #p29{
    position: absolute;
    top: 1190px;
    left: 40px;
    font-size: 15px;
}

.img33{
    position: absolute;
    top: 1px;
    left: 00px;
    z-index: -30;
    width: 0px;
    
}
}